<html>
    <head>
        <link rel="stylesheet" href="../static/styles.css">
        <title>Car Structure</title>
    </head>
    <body>

        <div style="text-align: center;">
            <p style="color: white; font-size: 50px;">Welcome {{member}}</p>
            <p style="color: white; font-size: 40px;">Here are some options, select them and customise your car...!</p>
        </div>

        <form action="/F_MAT" method="POST" style="color: white; text-align: center;">

            <!-- F_MAT -->
                <label style="font-size: 30px;">Choose Foot Mat Material : </label> <br><br>
                <label style="font-size: 30px;">A) </label>
                <input type="submit" value="Fabric" name="Foot_Mat_Material" class="b1"> &nbsp;&nbsp;
                <label style="font-size: 30px;">B) </label>
                <input type="submit" value="Rubber" name="Foot_Mat_Material" class="b1"> &nbsp;&nbsp;
                <label style="font-size: 30px;">C) </label>
                <input type="submit" value="Nomad" name="Foot_Mat_Material" class="b1"> &nbsp;&nbsp;
                <label style="font-size: 30px;">D) </label>
                <input type="submit" value="3D" name="Foot_Mat_Material" class="b1"> &nbsp;&nbsp;
                <label style="font-size: 30px;">E) </label>
                <input type="submit" value="Default" name="Foot_Mat_Material" class="b1"> <br><br>

        </form>
        <div id="footer" style="text-align: left; color: white;">
          <p style="font-size: 20px;">Created by : "PRAJWAL SHARMA"</p>
          <p style="font-size: 20px;">2021</p>
        </div>

    </body>
</html>