<html>
    <head>
        <link rel="stylesheet" href="../static/styles.css">
        <title>Login</title>
    </head>
    <body>

        <div style="text-align: center;">
            <p style="color: white; font-size: 50px;">Welcome to Car Customisation!</p>
            <p style="color: white; font-size: 40px;">Here you can make your own car...!</p>
            <form action="/submit_Uname" method="POST">
                <label for="Uname" style="font-size: 30px; color: white;">Enter your Username : </label>
                <input type="text" name="user" id="Uname" style="font-size: 20px;" required><br><br>
                <input type="submit" value="NEXT" class="b1">
            </form>
        </div>

        <h1>{{info}}</h1>

        <div id="footer" style="text-align: left; color: white;">
          <p style="font-size: 20px;">Created by : "PRAJWAL SHARMA"</p>
          <p style="font-size: 20px;">2021</p>
        </div>

    </body>
</html>