body {
    background-color: AliceBlue;
}

h1 {
    color: BlueViolet;
    text-align: center;
    font-size: 50px;
}

.b1 {
    background-color: darkslategray;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 23px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 15px;
    transition-duration: 0.4s;
    width: 170px;;
}

.b1:hover {
    color: darkslategray;
    background-color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 28px;
    cursor: pointer;
}
  
li:hover:not(.active) {
    background-color: #111;
}
  
.active {
    background-color: #04AA6D;
}