body {
    background-color: AliceBlue;
}

h1 {
    color: BlueViolet;
    text-align: center;
    font-size: 50px;
}

h2 {
    color: BlueViolet;
    text-align: center;
    font-size: 30px;
}

.b1 {
    background-color: darkslategray;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 23px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 15px;
    transition-duration: 0.4s;
    width: 170px;;
}

.b1:hover {
    color: darkslategray;
    background-color: white;
}

/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
} */

.log {
    background-color: darkslategray;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 23px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 15px;
    transition-duration: 0.4s;
    width: 170px;;
}

.log:hover {
    color: darkslategray;
    background-color: white;
}