<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{room}} room chats</title>
        <link rel="stylesheet" href="../static/styles.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <form action="/leave" style="text-align: right;">
            <input type="submit" value="Leave Chat" class="b1">
        </form>
        <h1>Welcome to chat room {{ room }}</h1>
        
        <div id="messages" class="msg_visible visible-lg">
            {{no_msg}}
            {% for message in messages %}
                <b>{{message[0]}}</b> : {{message[1]}}<br>
            {% endfor %}
        </div>

        <div id="message" class="msg_hidden hidden-lg">
            {{no_msg}}
            {% for message in messages %}
                <b>{{message[0]}}</b> : {{message[1]}}<br>
            {% endfor %}
        </div>
        
        <form id="message_input_form" style="text-align: center;">
            <input type="text" id="message_input" placeholder="Enter your message here" style="font-size: 28px;" size="60" required>
            <input type="submit" value="Send" class="send">
        </form>
        <form id="message_input_forms" style="text-align: center;" class="hidden-lg">
            <input type="text" id="message_inputs" placeholder="Enter your message here" style="font-size: 28px;" size="40" required>
            <input type="submit" value="Send" class="send">
        </form>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
    <script>
        const socket = io.connect("http://localhost:5000");

        socket.on('connect', function () {
            socket.emit('join_room', {
                username: "{{ username }}",
                room: "{{ room }}"
            });

            let message_input = document.getElementById('message_input');

            document.getElementById('message_input_form').onsubmit = function (e) {
                e.preventDefault();
                let message = message_input.value.trim();
                if (message.length) {
                    socket.emit('send_message', {
                        username: "{{ username }}",
                        room: "{{ room }}",
                        message: message
                    })
                }
                message_input.value = '';
                message_input.focus();
            }

            let message_inputs = document.getElementById('message_inputs');

            document.getElementById('message_input_forms').onsubmit = function (e) {
                e.preventDefault();
                let messages = message_inputs.value.trim();
                if (messages.length) {
                    socket.emit('send_message', {
                        username: "{{ username }}",
                        room: "{{ room }}",
                        messages: messages
                    })
                }
                message_inputs.value = '';
                message_inputs.focus();
            }
        });

        window.onbeforeunload = function () {
            socket.emit('leave_room', {
                username: "{{ username }}",
                room: "{{ room }}"
            })
        };

        socket.on('receive_message', function (data) {
            console.log(data);
            const newNode = document.createElement('div');
            newNode.innerHTML = `<b>${data.username}:&nbsp;</b> ${data.message}`;
            document.getElementById('messages').appendChild(newNode);
        });

        socket.on('join_room_announcement', function (data) {
            console.log(data);
            if (data.username !== "{{ username }}") {
                const newNode = document.createElement('div');
                newNode.innerHTML = `< <b>${data.username}</b> has joined the room >`;
                document.getElementById('messages').appendChild(newNode);
            }
        });

        socket.on('leave_room_announcement', function (data) {
            console.log(data);
            const newNode = document.createElement('div');
            newNode.innerHTML = `< <b>${data.username}</b> has left the room >`;
            document.getElementById('messages').appendChild(newNode);
        });

        socket.on('receive_message', function (data) {
            console.log(data);
            const newNode = document.createElement('div');
            newNode.innerHTML = `<b>${data.username}:&nbsp;</b> ${data.message}`;
            document.getElementById('message').appendChild(newNode);
        });

        socket.on('join_room_announcement', function (data) {
            console.log(data);
            if (data.username !== "{{ username }}") {
                const newNode = document.createElement('div');
                newNode.innerHTML = `< <b>${data.username}</b> has joined the room >`;
                document.getElementById('message').appendChild(newNode);
            }
        });

        socket.on('leave_room_announcement', function (data) {
            console.log(data);
            const newNode = document.createElement('div');
            newNode.innerHTML = `< <b>${data.username}</b> has left the room >`;
            document.getElementById('message').appendChild(newNode);
        });
    </script>
</html>