<html>
    <head>
        <link rel="stylesheet" href="../static/styles.css">
        <title>Login</title>
    </head>
    <body>
        <h1>LOGIN FORM</h1>
        <form action="/login" method="POST" style="text-align: center;">
            <label style="color: BlueViolet; font-size: 30px;">Username : </label><br>
            <input type="text" name="username" style="font-size: 30px;" required><br>
            <label style="color: BlueViolet; font-size: 30px;">Password : </label><br>
            <input type="password" name="password" style="font-size: 30px;" required><br>
            <input type="submit" value="Submit" class="b1">
        </form>
        <div style="text-align: center; font-size: 25px; color: blueviolet;">
            <p>{{msg}}</p>
        </div>
        <!-- <form action="/" style="text-align: center;">
            <label style="color: BlueViolet; font-size: 20px;">Not a user? Register here :</label>
            <input type="submit" value="Register" class="b1">
        </form> -->
    </body>
</html>