<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GRIP BANK</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
  </head>
<body>
  <!--START OF HEADER-->
  <header>
    <nav id="header-nav" class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a href="index.html" class="pull-left visible-md visible-lg">
            <div id="logo-img" alt="Logo Image"></div>
          </a>
          <div class="navbar-brand">
            <a href="index.html"><h1>GRIP Bank</h1></a>
            <p>
              <span>The Sparks Foundation</span>
            </p>
          </div>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsable-nav" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="collapsable-nav" class="collapse navbar-collapse">
          <ul id="nav-list" class="nav navbar-nav navbar-right">
            <li>
              <a href="{{url_for('index')}}">
                <span class="glyphicon glyphicon-home"></span><br class="hidden-xs"> Home
              </a>
            </li>
            <li class="active">
              <a href="{{url_for('customers_list')}}">
                <span class="glyphicon glyphicon-user"></span><br class="hidden-xs"> Customers
              </a>
            </li>
            <li>
              <a href="{{url_for('transactions')}}">
                <span class="glyphicon glyphicon-usd"></span><br class="hidden-xs"> Transaction
              </a>
            </li>
            <li id="phone" class="hidden-xs">
              <a href="tel:+918860300923">
                <span>+918860300923</span>
              </a>
              <div>* Contact</div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div id="call-btn" class="visible-xs">
    <a class="btn" href="tel:+918860300923">
      <span class="glyphicon glyphicon-earphone"></span>
      +918860300923
    </a>
  </div>
  <div id="xs-deliver" class="text-center visible-xs">* Contact</div>
  <!--END OF HEADER-->

  <!--START OF BODY-->
  <div id="main-content" class="container">
    <h2 id="education" class="text-center">Customers</h2>
  </div>
  <!--END OF BODY-->

  <!--START OF FOOTER-->
  <footer class="panel-footer">
    <div class="container">
      <div class="row">
        <section id="hours" class="col-sm-4">
          <span>Hours : </span><br>
          Monday - Saturday : 10:00 am - 10:00 pm<br>
          Sunday : 12:00pm - 8:00pm<br>
          <hr class="visible-xs">
        </section>
        <section id="address" class="col-sm-4">
          <span>Address : </span><br>
          Faridabad, Haryana
          <p>* Please call before coming...!</p>
          <hr class="visible-xs">
        </section>
        <section id="testimonials" class="col-sm-4">
          <p>"If you want to own your site like this then Contact as soon as possible...!"</p>
          Instagram : <a href="https://www.instagram.com/prajju_174">@prajju_174</a><br><br>
          <p>Email-Id : prajwalsharma409@gmail.com</p>
        </section>
      </div>
      <div class="text-center">&copy; BY PRAJWAL SHARMA</div>
    </div>
  </footer>
  <!--END OF HEADER-->

  <!-- jQuery (Bootstrap JS plugins depend on it) -->
  <script src="../static/js/jquery-2.1.4.min.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <script src="../static/js/script.js"></script>
</body>
</html>
