body {
  font-size: 16px;
  color: #fff;
  background-color: #333333;
  font-family: 'Oxygen', sans-serif;
}

.b1 {
	background-color: #951c49;
	border-radius: 20px;
	height: 35px;
	width: 200px;
}

.b1:hover {
	background-color: aliceblue;
	color: #951c49;
	transition-duration: 0.4s;
}

.c-box {
	padding: 5px;
	height: 50px;
	border: 2px solid whitesmoke;
	background-color: whitesmoke;
}

.transaction-box {
	position: relative;
	left: 150px;
	text-align: center;
	width: 75%;
	padding: 5px;
	height: 340px;
	border: 2px solid whitesmoke;
	background-color: whitesmoke;
}

.details-box {
	padding: 5px;
	height: 320px;
	border: 2px solid whitesmoke;
	background-color: whitesmoke;
}

.history-box {
	padding: 5px;
	border: 2px solid whitesmoke;
	background-color: whitesmoke;
}

.about-box {
	font-size: 20px;
  	border: 2px solid whitesmoke;
  	padding: 10px;
  	margin: 15px;
}

.container .prajwal {
	padding-top: 30px;
}

.container .prajwal-img {
	float: left;
	padding-right: 15px;
}

#header-nav {
	background: #f6b319;
	border-radius: 0;
	border: 0;
}

#logo-img {
	background: url('../logo5.png') no-repeat;
	width: 150px;
	height: 150px;
	margin: 10px 15px 10px 0;
}

.navbar-brand {
	padding-top: 25px;
}

.navbar-brand h1 {
	font-family: algerian;
	color: whitesmoke;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	font-style: italic;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

.navbar-brand p {
	color: grey;
	text-transform: uppercase;
	font-size: .7em;
	margin-top: 15px;
	font-weight: bold;
}

.navbar-brand p span {
	vertical-align: middle;
}

#nav-list {
	margin-top: 10px;
}

#nav-list a {
	color: #61122f;
	text-align: center;
}

#nav-list a:hover {
	background: pink;
}

#nav-list a span {
	font-size: 1.8em;
	margin-top: 5px;
}

#phone a {
	text-align: right;
	padding-bottom: 0;
}

#phone div {
	color: white;
	text-align: right;
	padding-right: 15px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 2px solid #61122f;
}

.navbar-header button.navbar-toggle {
	clear: both;
	margin-top: -30px;
}

h2#education {
	color: burlywood;
}

h3#education {
	color: burlywood;
}

b {
	color: chocolate;
}

.panel-footer {
	margin-top: 30px;
	padding-top: 35px;
	padding-bottom: 30px;
	background: #222;
	border-top: 0;
}

.panel-footer div.row {
	margin-bottom: 35px;
}

#hours, #address {
	line-height: 2;
}

#hours > span, #address > span {
	font-size: 1.3em;
}

#address p {
	color: orange;
	font-size: .8em;
	line-height: 1.8;
}

#testimonials {
	font-style: italic;
}

#testimonials p:nth-child(2) {
	margin-top: 25px;
}

#menu-tile, #specials-tile, #map-tile {
	height: 250px;
	width: 100%;
	margin-bottom: 15px;
	position: relative;
	border: 2px solid #3F01CF;
	overflow: hidden;
}

#menu-tile:hover, #specials-tile:hover, #map-tile:hover {
	box-shadow: 0 1px 5px 1px #cccccc;
}

#menu-tile {
	background: url('../history.jpg') no-repeat center;
}

#specials-tile {
	background: url('../customer.jpg') no-repeat center;
}

#map-tile {
	background: url('../transaction.jpg') no-repeat center;
}

#menu-tile span, #specials-tile span, #map-tile span {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 1.6em;
	text-transform: uppercase;
	background: #000;
	color: #fff;
	opacity: .7;
}

.category-tile {
	position: relative;
	border: 2px solid #3F01CF;
	overflow: hidden;
	width: 200px;
	height: 200px;
	margin: 0 auto 15px;
}

.category-tile span {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 1.2em;
	text-transform: uppercase;
	background: #000;
	color: #fff;
	opacity: 0.7;
}

.category-tile:hover {
	box-shadow: 0 1px 5px 1px #cccccc;
}

#menu-categories-title + div {
	margin-bottom: 50px;
}

.menu-item-tile {
 	margin-bottom: 25px;
}

.menu-item-tile hr {
 	width: 80%;
}

.menu-item-tile .menu-item-price {
 	font-size: 1.1em;
 	text-align: center;
 	margin-top: -15px;
 	margin-right: -15px;
}

.menu-item-tile .menu-item-price span {
  	font-size: .6em;
}

.menu-item-photo {
  	position: relative;
  	border: 2px solid #3F0C1F; 
  	overflow: hidden;
  	padding: 0;
  	margin-right: -15px;
  	margin-left: auto;
  	margin-bottom: 20px;
  	width: 500px;
}

.menu-item-photo div {
  	position: absolute;
  	bottom: 0;
  	right: 0;
  	width: 80px;
  	background-color: #557c3e;
  	text-align: center;
}

.menu-item-description {
  	padding-right: 30px;
}

h3.menu-item-title {
  	margin: 0 0 10px;
}

.menu-item-details {
  	font-size: .9em;
  	font-style: italic;
}

@media(min-width: 1200px) {
	.container .jumbotron {
		background: url('../me_1200.jpg') no-repeat;
		height: 675px;
		box-shadow: 0 0 50px #3F01CF;
		border: 2px solid #3F01CF;
	}

}

@media(max-width: 768px) {
	.navbar-brand {
		padding-top: 10px;
		height: 80px;
	}
	.navbar-brand h1 {
		padding-top: 10px;
		font-size: 5vw;
	}
	.navbar-brand p {
		text-transform: uppercase;
		font-size: .6em;
		margin-top: 12px;
	}
	.navbar-brand p img {
		height: 20px;
	}
	#collapse-nav a {
		font-size: 1.2em;
	}
	#collapsable-nav a span {
		font-size: 1em;
		margin-right: 5px;
	}
	#call-btn > a {
    	font-size: 1.5em;
    	display: block;
    	margin: 0 20px;
    	padding: 10px;
    	border: 2px solid #fff;
    	background-color: #f6b319;
    	color: #951c49;
	}
	#xs-deliver {
		margin-top: 5px;
		font-size: .7em;
		letter-spacing: .1em;
		text-transform: uppercase;
	}
	.panel-footer section {
		margin-bottom: 30px;
		text-align: center;
	}
	.panel-footer section:nth-child(3) {
		margin-bottom: 0;
	}
	.panel-footer section hr {
		width: 50%;
	}
	.container .jumbotron {
		margin-top: 30px;
		padding: 0;
		box-shadow: 0 0 50px #3F01CF;
		border: 2px solid #3F01CF;
	}
	#menu-tile, #specials-tile {
		width: 360px;
		margin: 0 auto 15px;
	}
	.menu-item-photo {
		margin-right: auto;
	}
	.menu-item-tile .menu-item-price {
		text-align: center;
	}
	.menu-item-description {
		text-align: center;
	}
}

@media(max-width: 479px) {
	.navbar-brand h1 {
		padding-top: 5px;
		font-size: 6vw;
	}
	#menu-tile, #specials-tile {
		width : 280px;
		margin: 0 auto 15px;
	}
	.col-xxs-12 {
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		float: left;
		width: 100%;
	}
}

.container .C .img {
	padding-top: 20px;
	padding-bottom: 20px;
	width: 100%;
	height: auto;
}

#logo_1:hover {
	box-shadow: 0px 0px 25px Beige;
}