{% extends 'index.html' %} {% block title %} Change Password {% endblock %} {% block body %}
<div class="form-box my-5" style="height: 480px;">
    <h1 class="text-white text-center">Change Password</h1><br>
    <form action=" " method="post">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="empid" required>
            <label for="floatingInput ">Employee Id</label>
        </div>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" required>
            <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" required>
            <label for="floatingPassword ">Previous Password</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" required>
            <label for="floatingPassword">New Password</label>
        </div>

        <br>

        <div class="ms-5 me-5" style="float: left;">
            <button type="submit" class="btn btn-success btn-lg btn-1">Submit</button>
        </div>

        <div class="ms-5 me-5" style="float: right;">
            <button type="reset" class="btn btn-danger btn-lg btn-2">Reset</button>
        </div>

        <div style="color: red; font-size: 18px; text-align: center; padding-top: 10px;">
            {{msg}}
        </div>
    </form>

</div>
{% endblock %}