body {
    background-color: ghostwhite !important;
}

.div-box {
    border: 5px solid gray;
    background-color: brown;
    color: bisque;
    padding: 5px;
    font-size: 20px;
}

.form-box {
    border: 5px solid gray;
    background-color: bisque;
    color: chocolate;
    padding: 5px;
    font-size: 20px;
    width: 50%;
    text-align: center;
    margin: auto;
    box-shadow: 0px 8px 50px 8px grey;
}

.btn-submit:hover {
    background-color: white !important;
    color: green !important;
}

.btn-change:hover {
    background-color: white !important;
    color: blue !important;
}

.input-box {
    width: 50% !important;
}

#func-1 span,
#func-2 span,
#func-3 span,
#func-4 span {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 21px;
    text-transform: uppercase;
    background: #000;
    color: #fff;
    opacity: .7;
}

#func-1,
#func-2,
#func-3,
#func-4 {
    height: 250px;
    width: 300px;
    margin-bottom: 15px;
    position: relative;
    border: 2px solid #3F01CF;
    overflow: hidden;
}

#func-1:hover,
#func-2:hover,
#func-3:hover,
#func-4:hover {
    box-shadow: 0 1px 5px 1px black;
}

#func-1 {
    background: url('calculator.jpg') no-repeat center;
}

#func-2 {
    background: url('youtube.jpg') no-repeat center;
}

#func-3 {
    background: url('email.png') no-repeat center;
}

#func-4 {
    background: url('database.png') no-repeat center;
}

.b1 {
    background-color: gainsboro;
    border-radius: 20px;
    height: 35px;
    width: 200px;
}

.b1:hover {
    background-color: #951c49;
    color: whitesmoke;
    transition-duration: 0.4s;
}

.c-box {
    padding: 5px;
    height: 50px;
    border: 2px solid #2516ff;
    background-color: #2516ff;
}

.fa {
    padding: 20px;
    font-size: 30px !important;
    width: 80px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
    color: floralwhite;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-instagram {
    background: #bc2a8d;
    color: white;
}

.footer-no {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 5px;
}

.footer {
    position: relative;
    top: 20vh;
    width: 100%;
    padding: 5px;
}