<html>
    <head>
        <link rel="stylesheet" href="../static/styles.css">
        <title>Change Password</title>
    </head>
    <body>
        <form action="/logout" method="POST" style="text-align: right;">
            <input type="submit" value="Logout" class="b1">
        </form>
        <h1>Change your Password here</h1>
        <form action="/change_password" method="POST" style="text-align: center;">
            <label style="color: BlueViolet; font-size: 30px;">Old password : </label><br>
            <input type="text" name="old_password" style="font-size: 30px;" required><br>

            <label style="color: BlueViolet; font-size: 30px;">New Password : </label><br>
            <input type="password" name="new_password" style="font-size: 30px;" required><br>
            
            <div style="text-align: center; font-size: 25px; color: blueviolet;">
                <p>{{msg}}</p>
            </div>

            <input type="submit" value="Submit" class="b1">
        </form>
    </body>
</html>