<html>
    <head>
        <link rel="stylesheet" href="../static/styles.css">
        <title>Register</title>
    </head>
    <body>
        <h1>Register FORM</h1>
        <form action="/register" method="POST" style="text-align: center;">
            <label style="color: BlueViolet; font-size: 30px;">Enter your name : </label>
            <input type="text" name="name" style="font-size: 30px;" required><br><br>

            <label style="color: BlueViolet; font-size: 30px;">Enter your email : </label>
            <input type="text" name="email" style="font-size: 30px;" required><br><br>

            <label style="color: BlueViolet; font-size: 30px;">Enter your number : </label>
            <input type="text" name="number" style="font-size: 30px;" required><br><br>

            <label style="color: BlueViolet; font-size: 30px;">Create Username : </label>
            <input type="text" name="username" style="font-size: 30px;" required><br><br>

            <label style="color: BlueViolet; font-size: 30px;">Create Password : </label>
            <input type="password" name="password" style="font-size: 30px;" required><br><br>

            <input type="submit" value="Submit" class="b1">
        </form>
        <div style="text-align: center; font-size: 25px; color: blueviolet;">
            <p>{{msg}}</p>
        </div>
        <form action="/tologin" style="text-align: center;">
            <label style="color: BlueViolet; font-size: 20px;">Already a user? Login here :</label>
            <input type="submit" value="Login" class="b1">
        </form>
    </body>
</html>