<html>
    <head>
        <link rel="stylesheet" href="../static/styles.css">
        <title>Account</title>
    </head>
    <body>
        <form action="/logout" method="POST" style="text-align: right;">
            <input type="submit" value="Logout" class="b1">
        </form>
        <br><br>
        <h1>Welcome to Uniquedu chats</h1>
        <form action="/create" method="POST" style="text-align: center;">
            <input type="submit" value="Create Room" class="b1">
        </form>
        <form action="/join" method="POST" style="text-align: center;">
            <input type="submit" value="Join Room" class="b1">
        </form>
        <div style="text-align: center; font-size: 25px; color: blueviolet;">
            <p>{{msg}}</p>
        </div>
    </body>
</html>