<html>
    <head>
        <link rel="stylesheet" href="../static/styles.css">
        <title>Account</title>
    </head>
    <body>
        <form action="/logout" method="POST" style="text-align: right;">
            <input type="submit" value="Logout" class="b1">
        </form>
        <br><br>
        <h1>Welcome {{username}}</h1>
        <h2>Your data is as follows :</h2>
        <table border="1px" class="t1">
            <tr>
                <th>Name</th>
                <th>Email-Id</th>
                <th>Number</th>
                <th>Username</th>
            </tr>
            <tr>
                {% for data in user_data %}
                    <td>{{ data }}</td>
                {% endfor %}
            </tr> 
        </table>
        <div style="text-align: center; font-size: 25px; color: blueviolet;">
            <p>{{msg}}</p>
        </div>
    </body>
</html>