<html>
    <head>
        <link rel="stylesheet" href="../static/styles.css">
        <title>Chat Room</title>
    </head>
    <body>
        <h1>Welcome {{user}}</h1>
        <h2>Room : {{room}}</h2>
        <div style="background-color: darkorange;" id="messages">
                
        </div>
        <form action="/send_message" method="POST" style="text-align: center;" id="message_input_form">
            <input id="message_input" style="font-size: 28px;" type="text" name="message" placeholder="Enter your message here...!" required>
            <input type="submit" value="Send" class="send">
        </form>
        <form action="/leave" method="POST" style="text-align: center;">
            <input type="submit" value="Leave Chat" class="b1">
        </form>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script>
        const socket = io.connect("http://127.0.0.1:5000");
        socket.on('connect', function() {
            socket.emit('join_room', {
                username: "{{ username }}",
                room: "{{ room }}"
            });	
        });
        socket.on('join_announce', function(data) {
            const newNode = document.createElement('div');
            newNode.innerHTML = `${data.username} has joined the room`;
            document.getElementById('messages').appendChild(newNode);
        })
    </script>
</html>