<html>
    <head>
        <link rel="stylesheet" href="../static/styles.css">
        <title>Create Room</title>
    </head>
    <body>
        <form action="/logout" method="POST" style="text-align: right;">
            <input type="submit" value="Logout" class="b1">
        </form>
        <br><br><br><br>
        <form action="/create_room" method="POST" style="text-align: center;">
            <label style="color: BlueViolet; font-size: 40px;">Enter room name : </label><br>
            <input type="text" name="create" style="font-size: 30px;" required><br>
            <input type="submit" value="Create Room" class="b1">
        </form>
    </body>
</html>